/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.edit-mode {
  color: aquamarine;
}

.btn-link {
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.items-dark {
  display: flex;
  justify-content: space-between;
  width: 45%;
  color: #000;
  background-color: #fff;
  border: 1px solid #93c5fd;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px 20px;
  font-weight: 700;
}

.items-light {
  display: flex;
  justify-content: space-between;
  width: 45%;
  color: #fff; /* Black text for light mode */
  background-color: #000; /* Light blue background */
  border: 1px solid #93c5fd;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px 20px;
  font-weight: 700;
}
